
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link>.fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

a.nav-link {
    color: white !important;
}

.navbar-icon-top .navbar-nav .nav-link>.fa>.badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link>.fa {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link>.fa>.badge {
    top: -10px;
}

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link>.fa>.badge {
        top: -7px;
    }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link>.fa>.badge {
        top: -7px;
    }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fa>.badge {
        top: -7px;
    }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link>.fa>.badge {
        top: -7px;
    }
}

nav i {
    color: white;
}

/* Add a background color to the top navigation */
.sitehead {
    background-color: #fff;
    overflow: hidden;
}


/* Style the links inside the navigation bar */
.headlogo {
    float: left;
    height: 85px;
    width: 85px;
    margin-left: 10px;
    margin-top: 7px;
    text-align: center;
}

.sitehead p {
    vertical-align: middle;
    float: left;
    color: #085288;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    margin-top: 35px;
    margin-left: 15px;
}

/* Right-aligned section inside the top navigation */
.sitehead-right {
    float: right;
    margin-right: -20px;
}

.button-default {
    color: white;
    background-color: #3B5998;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
}

.button-default-secondary {
    color: white;
    background-color: #3B5998;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
}

.button-default-tercero {
    color: white;
    background-color: #8b9dc3;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
}

.button-whatsapp {
    color: white;
    font-weight: bold;
    background-color: #40BF50;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
}


.button-slanted {
    -ms-transform: skewX(-35deg);
    -webkit-transform: skewX(-35deg);
    transform: skewX(-35deg);
}

.button-slanted-content {
    padding: 2px 10px;
    margin: 10px;
    -ms-transform: skewX(35deg);
    -webkit-transform: skewX(35deg);
    transform: skewX(35deg);
    display: inline-block;
}

.panel-footer {
    z-index: 2 !important;
}

.buscador{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .redes-chat{
        display: block;
    }

    .redes-chat-mobil{
        display: none;
    }
}

@media (max-width: 576px) {
    .redes-chat{
        display: none;
    }
    .redes-chat-mobil{
        display: block;
    }
}
